@model Prototype.ViewModels.ExcelColumnToProductPropertyMappingChoices

@{
    ViewBag.Title = "Columns";
}

<h2>Columns</h2>

<strong>@ViewBag.WorkbookName > @ViewBag.WorksheetName</strong>

@using (Html.BeginForm("Data_BeforeImport", "Excel", FormMethod.Post))
{
    <input hidden name="workbookName" value="@ViewBag.WorkbookName" />
    <input hidden name="worksheetName" value="@ViewBag.WorksheetName" />

    foreach (var property in @Model.ProductProperties)
    { 
        <label>@property
        <select name="@property">
            @foreach(var column in @Model.ExcelColumns)
            {
                <option>
                    @column
                </option>
            }
        </select>
        </label>
    }

    
    <button type="submit">Display Data</button>
}
