@model Prototype.ViewModels.VendorProductList

@{
    ViewBag.Title = "Display Data";
}

<h2>Display Data</h2>

<strong>@ViewBag.WorkbookName > @ViewBag.WorksheetName</strong>

@using (Html.BeginForm("ImportData", "Excel", FormMethod.Post))
{
    @*<input hidden name="workbookName" value="@ViewBag.WorkbookName" />
        <input hidden name="worksheetName" value="@ViewBag.WorksheetName" />*@

    <style type="text/css">
        th.index, td.index {
            display:none;
            visibility:hidden;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th class="index">FormIndex</th>
                <th>VendorProductName</th>
                <th>VendorProductDescription</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < @Model.VendorProducts.Count(); ++i)
            {
                <tr>
                    <td class="index">
                        <input type="hidden" name="Index" value="@i" />
                    </td>
                    <td>
                        <span>@Model.VendorProducts[i].VendorProductName</span>
                        <input type="hidden" value="@Model.VendorProducts[i].VendorProductName" name="[@i].VendorProductName" />
                    </td>
                    <td>
                        @Model.VendorProducts[i].VendorProductDescription
                        <input type="hidden" value="@Model.VendorProducts[i].VendorProductDescription" name="[@i].VendorProductDescription" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Import Data</button>
}